<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>381156695652-q2tpvbjditc32gcdfhnefhpgqvi79bto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381156695652-q2tpvbjditc32gcdfhnefhpgqvi79bto</string>
	<key>API_KEY</key>
	<string>AIzaSyBM-_plRSw0L5W1TUd-XKVe5LSchG9V6F0</string>
	<key>GCM_SENDER_ID</key>
	<string>381156695652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediaware.mNet</string>
	<key>PROJECT_ID</key>
	<string>ios-bi-oriduction</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-bi-oriduction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381156695652:ios:1fa4a4dd41e0768c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-bi-oriduction.firebaseio.com</string>
</dict>
</plist>